body {
    font-family: "Courier New", sans-serif;
    font-size: 17px;
}

h2 {
  font-family: "Lucida Console", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 0%;
  color: #1c6470;
}

img {
    width: 300px;
    height: 400px;
    padding-left: 20px;
}

.books-menu a {
    display: inline-block;
    text-align: center;
    padding-left: 145px;
}