body {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 17px;
}

h2 {
  font-family: "Lucida Console", sans-serif;
  font-size: 25px;
  color: #1c6470;
}
img {
  width: 200px;
  height: 250px;
  padding-left: 0px;
  margin-left: 0px;
  border-color: whitesmoke;
}
.books a {
  display: inline-block;
  text-align: center;
  padding-left: 145px;
}