<h2>Books on Shelf</h2>

<ul class="books">
  <li *ngFor="let book of books">
    <a routerLink="/detail/{{book.id}}">
      <span class="badge">{{book.id}}</span> {{book.name}}
    </a>
    <button class="delete" title="delete book"
      (click)="delete(book)">Delete</button>
  </li>
</ul>
<div>
  <label for="new-book">Book name: </label>
  <input id="new-book" #bookName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(bookName.value); bookName.value=''">
    Add Book
  </button>
  
</div>